@import 'variables.scss';

.header {
  line-height: 3em;
  background-color: $color-primary;
  position: relative;
}

.menu {
  margin-left: 3em;
  margin: 0;
  text-transform: uppercase;
  display: flex;
  list-style-type: none;
  align-items: center;
  height: $unit * 6;
  color: $color-white;

  &__item {
    padding: 0 $unit;
  }

  &__item:hover {
    background-color: $color-secondary;
  }
}

.menu__item_active {
  color: $color-yellow;
}

.menu__item_active:hover .submenu {
  display: block;
}
.submenu {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: $color-third;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: $color-white;
  min-width: $unit * 15;
  z-index: 1;
  display: none;

  &__item {
    padding: 0 $unit;
  }

  &__item:hover {
    color: $color-black;
  }
}

.menu__item {
  cursor: pointer;
}
